/* .inner-content{
  position: absolute;
  bottom: 65px;
  left: 0;
} */

.bg-white{
  background-color: #fff;
}

.bg-yellow{
  background-color: beige;
}
.bg-black{
  background-color: #000;
}

/* Font sizes */

/* X-Small */
 .text-small{
  font-size: small !important;
}
.text-small h1,h2,h3,h4,h5,h6{
  font-size: small !important;
  font-weight: bold;
}


/* .text-x-small h1 { 
  font-size: smaller
}
.text-x-small h2{
  font-size: smaller;
}
.text-x-small h3{
  font-size: smaller;
}
.text-x-small h4{
  font-size: smaller;
}
.text-x-small h5{
  font-size: smaller;
} */

/* Small */
/* .text-small p {
  font-size: small;
} */
/* .text-small h1 {
  font-size: small;
} */

/* .text-medium p {
  font-size: medium;
}
.text-medium h1 {
  font-size: x-large;
}

.text-large p {
  font-size: large;
}

.text-x-large p  {
  font-size: x-large;
} */

.round-icon{
  border-radius: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.round-icon .white {
  background-color: #fff;
 
}

.round-icon .yellow {
  background-color: #fffbc6;
}

.round-icon .black {
  background-color: #000;
}

.zoom-icon {
  user-select: none;
}