.inner-content{
  position: absolute;
  bottom: 65px;
  left: 0;
}

.tag {
  margin: 0 10px 0 0;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 25px;
  user-select: none;
  background-color: orange;
}

