/* .inner-content{
  position: absolute;
  bottom: 65px;
  left: 0;
} */

.round-icon{
  margin: 0.5rem;
  border-radius: 50% !important;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #000;
}


.round-icon.default {
  background-color: #fff;
  border: 2px solid #458aff
}

.round-icon.default:hover {
  background-color: #fff;
}

.round-icon.typewriter {
  background-color: #E0D3AF;
  border: 2px solid #458aff
}
.round-icon.typewriter:hover {
  background-color: #E0D3AF;
}

.round-icon.dark {
  background-color: #000;
  border: 2px solid #458aff
}

.round-icon.dark:hover {
  background-color: #000;
}

.round-icon.bluegrey {
  background-color: #DBE1F1;
  border: 2px solid #458aff
}

.round-icon.bluegrey:hover {
  background-color: #DBE1F1;
}

.round-icon.darkblue {
  background-color: #043046;
  border: 2px solid #458aff
}

.round-icon.darkblue:hover {
  background-color: #043046;
}

.zoom-icon {
  user-select: none;
}

